---
import Layout from "../layouts/Layout.astro";
import Card2 from "../components/Card2.astro";
import Card3 from "../components/Card3.astro";
import ProgressCircle from "../components/progressCircle.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import TechStack from "../components/TechStack.astro";
---

<Layout title="Óscar Coleto | portfolio">
  <main class="relative z-10 h-screen py-8">
    <div class="text-center">
      <h1 class="text-white text-5xl lg:text-5xl pr-4 font-allerta text-neon">
        Skills & Certs
      </h1>
    </div>
    <!-- Primera sección -->
    <section class="py-8">
      <h2 class=" text-4xl lg:text-5xl font-allerta text-neon-yellow">  Tech Stack </h2>
      <div class="flex py-8">
       <TechStack></TechStack>
      </div>
    </section>
    <!-- Segunda sección -->
    <section class="py-8">
      <h2 class="text-4xl lg:text-5xl mb-8 font-allerta text-neon-red">  Aditional Certifications</h2>
      <div class="flex">
        <ul role="list" class="grid lg:grid-cols-3 sm:grid-cols-1 gap-4">
          <Card2
            href="https://www.cursosdesarrolloweb.es/course/arquitectura-hexagonal-laravel"
            title="Laravel hexagonal architecture "
            body="I took a course on hexagonal architecture  in the Laravel framework"
          />
        </ul>
      </div>
    </section>
    <section class="py-16">
      <h2 class="text-4xl lg:text-5xl mb-8 font-allerta text-neon-green"> Academic Certificates</h2>
        <ul role="list" class="grid lg:grid-cols-3 sm:grid-cols-1 gap-4">
          <Card3
            href="https://agora.xtec.cat/ies-sabadell/batxillerats/cicle-formatiu-de-grau-superior-desenvolupament-daplicacions-multiplataforma/"
            title="CFGS Multiplatform applications development"
            body="I course and obtained the title of Higher Technician in multiplatform applications development in the INS Sabadell"
          />

          <Card3
            href="https://agora.xtec.cat/iesbadia/formacio-professional/informatica-i-comunicacions/grau-superior-desenvolupament-daplicacions-web/"
            title="CFGS Web applications development"
            body="I course and obtained the title of Higher Technician in web applications development in the INS Badía del Vallès "
          />

          <Card3
            href="https://agora.xtec.cat/ies-estatut/estudis/cicles-formatius/administracio-de-sistemes-informatics-en-xarxa-asix/"
            title="CFGS Systems and networks administrator"
            body="I course and obtained the title of Higher Technician in Systems and networks administrator in the INS L'Estatut de Rubí"
          />

        </ul>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 1024px;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  
  .text-neon {
      text-shadow: 0 0 20px rgba(0, 255, 195, 0.8);
  }

  .text-neon-yellow {
        text-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
  }
  .text-neon-red {
      text-shadow: 0 0 20px rgba(255, 49, 49, 0.8);
  }
  .text-neon-green {
      text-shadow: 0 0 20px rgba(49, 255, 49, 0.8);
  }
  .border-neon {
      box-shadow:
          0px 0px 0px 0px rgba(0, 255, 195) inset,
          0px 0px 0px 0px rgba(0, 255, 195); /* Amarillo */
  }
  .border-neon-red {
      box-shadow:
          0px 0px 0px 0px rgba(255, 0, 0) inset,
          0px 0px 0px 0px rgba(255, 0, 0); /* Amarillo */
  }

</style>
