---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---
<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		border: 1px solid yellow;
		border-radius: 5px;
		box-shadow: 0 0 20px 0 rgba(255, 255, 0, 0.5) inset, 0 0 20px 0 rgba(255, 255, 0, 0.5); /* Amarillo */
	}
	.link-card:hover{
		scale: 1.15;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		color: white;
		text-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
