---
interface Props {
    total: string;
}

const { total } = Astro.props;
---

<div class="progress-circle">
    
    <svg class="progress-ring" width="120" height="120">
        <circle
            class="progress-ring__circle"
            stroke="#3498db"
            stroke-width="4"
            fill="transparent"
            r="54"
            cx="60"
            cy="60"></circle>
    </svg>
    <div class="progress-text"><span id="total">{total}</span></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        let total = document.getElementById("total");
        let progressText = total.textContent;

        const circle = document.querySelector('.progress-ring__circle');
        const radius = circle.r.baseVal.value;
        const circumference = 2 * Math.PI * radius;

        circle.style.strokeDasharray = `${circumference} ${circumference}`;
        circle.style.strokeDashoffset = circumference;

        function setProgress(percent) {
            const offset = circumference - (percent / 100 * circumference);
            circle.style.strokeDashoffset = offset;
            let textProgress = Math.round(percent / 100 * 7); // Mapear de 1 a 7
            total.textContent = "+" + textProgress + " Years career "; // Actualizar texto
        }

        let progress = 0;
        function updateProgress() {
            progress++;
            setProgress(progress);

            if (progress < 100) {
                setTimeout(updateProgress, 10);
            }
        }

        updateProgress();
    });
</script>

<style>
    .progress-circle {
        position: relative;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background-svg {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        z-index: -1;
    }

    .progress-ring {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(-90deg);
        filter: brightness(150%) drop-shadow(0 0 5px rgba(0, 255, 195));
    }

    .progress-ring__circle {
        transition: stroke-dashoffset 0.35s;
        transform-origin: 50% 50%;
    }

    .progress-text {
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: white;
        letter-spacing: 0.15em;
    }
</style>
