---
interface Props {
	total: string;
}

const { total } = Astro.props;
---

<div class="progress-circle">
    <div class="progress"></div>
    <div class="progress-text"><span id="total">{total}</span></div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Simula el porcentaje de progreso
        let total = document.getElementsByClassName("total");
        console.log(total);
        var progress = 0;
        var progressBar = document.querySelector(".progress");
        var progressText = document.querySelector(".progress-text");

        // Función para actualizar el progreso
        function updateProgress() {
            progress++;
            progressBar.style.clip = `rect(${(100 - progress)}px, 120px, 120px, 0)`;
            progressText.textContent = `${progress}%`;

            if (progress < 70) {
                // Actualiza el progreso cada 50ms
                setTimeout(updateProgress, 50);
            }
        }

        updateProgress();
    });
</script>

<style>

    
    .progress-circle {
        position: relative;
        border: 1px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    .progress {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #3498db;
        border-radius: 50%;
        clip: rect(60px, 120px, 120px, 0);
    }

    .progress-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
</style>
