<div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-20">
    <div class="grid grid-cols-1 border-neon-yellow rounded">
        <div class="pt-6 text-center text-neon-yellow text-2xl px-6 p-6">Back-end Languages</div>
        <div class="grid grid-cols-3 px-4 ">
            <!--Laravel -->
            <div class="spin">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid"
                    viewBox="0 0 256 264"
                >
                    <path
                        d="m255.9 59.6.1 1.1v56.6c0 1.4-.8 2.8-2 3.5l-47.6 27.4v54.2c0 1.4-.7 2.8-2 3.5l-99.1 57-.7.4-.3.1c-.7.2-1.4.2-2.1 0l-.4-.1-.6-.3L2 206c-1.3-.8-2.1-2.2-2.1-3.6V32.7l.1-1.1.2-.4.3-.6.2-.4.4-.5.4-.3c.2 0 .3-.2.5-.3L51.6.6c1.3-.8 2.9-.8 4.1 0L105.3 29c.2 0 .3.2.4.3l.5.3c0 .2.2.4.3.5l.3.4.3.6.1.4.2 1v106l41.2-23.7V60.7c0-.4 0-.7.2-1l.1-.4.3-.7.3-.3.3-.5.5-.3.4-.4 49.6-28.5c1.2-.7 2.8-.7 4 0L254 57l.5.4.4.3.4.5.2.3c.2.2.2.5.3.7l.2.3Zm-8.2 55.3v-47l-17.3 10-24 13.7v47l41.3-23.7Zm-49.5 85v-47l-23.6 13.5-67.2 38.4v47.5l90.8-52.3ZM8.2 39.9V200l90.9 52.3v-47.5l-47.5-26.9-.4-.4c-.2 0-.3-.1-.4-.3l-.4-.4-.3-.4-.2-.5-.2-.5v-.6l-.2-.5V63.6L25.6 49.8l-17.3-10Zm45.5-31L12.4 32.8l41.3 23.7 41.2-23.7L53.7 8.9ZM75 157.3l24-13.8V39.8l-17.3 10-24 13.8v103.6l17.3-10ZM202.3 36.9 161 60.7l41.3 23.8 41.3-23.8-41.3-23.8Zm-4.1 54.7-24-13.8-17.3-10v47l24 13.9 17.3 10v-47Zm-95 106 60.6-34.5 30.2-17.3-41.2-23.8-47.5 27.4L62 174.3l41.2 23.3Z"
                        fill="#FF2D20"></path>
                </svg>
            </div>
            <!-- PHP -->
            <div class="spin">
                <svg
                    fill="#000000"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 512 512"
                    enable-background="new 0 0 512 512"
                    xml:space="preserve"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <g id="5151e0c8492e5103c096af88a51e2ea6">
                            <path
                                display="inline"
                                d="M401.054,224c3.714,4.115,4.595,11.181,2.653,21.19c-2.029,10.425-5.935,17.862-11.723,22.32 c-5.793,4.458-14.602,6.687-26.432,6.687h-17.849l10.957-56.37h20.103C389.913,217.827,397.34,219.886,401.054,224z M149.754,217.827h-20.103l-10.958,56.37h17.848c11.827,0,20.639-2.229,26.432-6.687c5.789-4.458,9.694-11.896,11.723-22.32 c1.942-10.01,1.06-17.075-2.653-21.19C168.33,219.886,160.903,217.827,149.754,217.827z M511.5,256 c0,74.229-114.393,134.403-255.5,134.403S0.5,330.229,0.5,256c0-74.228,114.393-134.403,255.5-134.403S511.5,181.772,511.5,256z M198.542,265.286c3.04-5.448,5.203-11.461,6.483-18.037c3.102-15.967,0.761-28.403-7.024-37.313 c-7.781-8.91-20.165-13.363-37.136-13.363h-56.423L78.265,331.261h29.342l6.958-35.805h25.134c11.087,0,20.21-1.164,27.372-3.497 c7.161-2.329,13.669-6.233,19.528-11.719C191.514,275.72,195.493,270.738,198.542,265.286z M301.814,295.456l12.181-62.682 c2.479-12.747,0.619-21.971-5.572-27.664c-6.196-5.688-17.449-8.537-33.768-8.537h-25.933l6.961-35.81h-29.11l-26.182,134.692 h29.11l14.996-77.165h23.267c7.448,0,12.317,1.232,14.604,3.698c2.287,2.467,2.773,7.091,1.455,13.869l-11.581,59.598H301.814z M427.011,209.937c-7.78-8.91-20.164-13.363-37.135-13.363h-56.424l-26.178,134.688h29.343l6.957-35.805h25.135 c11.086,0,20.21-1.164,27.371-3.497c7.161-2.329,13.669-6.233,19.528-11.719c4.92-4.521,8.896-9.502,11.943-14.954 c3.044-5.448,5.202-11.461,6.483-18.037C437.137,231.282,434.796,218.846,427.011,209.937z"
                            >
                            </path>
                        </g>
                    </g></svg
                >
            </div>

            <!--CSharp SVG -->
            <div class="spin">
                <svg
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path
                            d="M27.6947 22.9999C27.883 22.6617 28 22.2807 28 21.9385V10.0613C28 9.71913 27.8831 9.33818 27.6947 9L16 16L27.6947 22.9999Z"
                            fill="#7F3A86"></path>
                        <path
                            d="M17.0395 29.7433L26.9611 23.8047C27.2469 23.6336 27.5067 23.3382 27.695 23L16.0003 16L4.30566 23C4.49398 23.3382 4.75382 23.6337 5.03955 23.8047L14.9611 29.7433C15.5326 30.0855 16.468 30.0855 17.0395 29.7433Z"
                            fill="#662579"></path>
                        <path
                            d="M27.6947 8.99996C27.5064 8.6617 27.2465 8.36629 26.9608 8.19521L17.0392 2.25662C16.4677 1.91446 15.5323 1.91446 14.9608 2.25662L5.03922 8.19521C4.46761 8.53729 4 9.37709 4 10.0613V21.9386C4 22.2807 4.11694 22.6618 4.30533 23L16 16L27.6947 8.99996Z"
                            fill="#9A5196"></path>
                        <path
                            d="M16.0385 24C11.6061 24 8 20.4112 8 16C8 11.5888 11.6061 8 16.0385 8C18.8458 8 21.4674 9.47569 22.919 11.8618L19.4765 13.9265C18.7492 12.736 17.4399 12 16.0385 12C13.8222 12 12.0193 13.7944 12.0193 16C12.0193 18.2056 13.8222 20 16.0385 20C17.4362 20 18.7421 19.2681 19.4707 18.0832L22.9205 20.1359C21.4692 22.5234 18.8467 24 16.0385 24Z"
                            fill="white"></path>
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M25.0001 13V13.9974H22.9999V13H22.0001V13.9974H21V15H22.0001V16.9948H21V18H22.0001V19H22.9999L23 18H25.0001V19H25.9999V18H27V17H25.9999V15H27V13.9974H25.9999V13H25.0001ZM25.0001 17V15H22.9999V16.9948L25.0001 17Z"
                            fill="white"></path>
                    </g></svg
                >
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 border-neon-yellow rounded">
        <div class="text-center pt-6 text-neon-yellow text-2xl px-6">Front-end Languages</div>
        <div class="grid grid-cols-3 p-4">
            <!--Javascript -->
            <div class="spin">
                <svg
                    viewBox="0 0 256 256"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMinYMin meet"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                        ><path d="M0 0h256v256H0V0z" fill="#F7DF1E"></path><path
                            d="M67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371 7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259-19.245 0-30.416-9.967-36.087-21.996M152.381 211.354l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607 9.969 0 16.325-4.984 16.325-11.858 0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257 0-18.044 13.747-31.792 35.228-31.792 15.294 0 26.292 5.328 34.196 19.247L210.29 147.43c-4.125-7.389-8.591-10.31-15.465-10.31-7.046 0-11.514 4.468-11.514 10.31 0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804 0 21.654-17.012 33.51-39.867 33.51-22.339 0-36.774-10.654-43.819-24.574"
                        ></path></g
                    ></svg
                >
            </div>
            <!-- Tailwind -->
            <div class="spin">
                <svg
                    viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                        ><title>file_type_tailwind</title><path
                            d="M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z"
                            style="fill:#44a8b3"></path></g
                    ></svg
                >
            </div>

            <!--Livewire SVG -->
            <div class="spin">
                <svg
                    xmlns="http://www.w3.org/2000/svg"

                    viewBox="0 0 128 128"
                    ><path
                        style="fill-rule:evenodd;fill:#fb70a9;fill-opacity:1"
                        d="M108.566 83.547c-1.937 2.926-3.406 6.527-7.34 6.527-6.624 0-6.98-10.203-13.609-10.203-6.625 0-6.265 10.203-12.887 10.203-6.625 0-6.98-10.203-13.609-10.203-6.625 0-6.266 10.203-12.887 10.203-6.625 0-6.98-10.203-13.605-10.203-6.629 0-6.27 10.203-12.89 10.203-2.083 0-3.544-1.008-4.778-2.39-4.738-8.239-7.465-17.895-7.465-28.22 0-30.222 23.367-54.722 52.191-54.722 28.825 0 52.192 24.5 52.192 54.723 0 8.64-1.91 16.816-5.313 24.082Zm0 0"
                    ></path><path
                        style="fill-rule:evenodd;fill:#4e56a6;fill-opacity:1"
                        d="M40.844 78.145v22.668c0 4.066-3.301 7.363-7.371 7.363a7.365 7.365 0 0 1-7.371-7.364V73.45c1.375-2.523 2.945-4.707 5.78-4.707 4.61 0 6.223 5.79 8.962 9.403Zm27.843 1.183v35.844a8.185 8.185 0 0 1-8.187 8.183c-4.523 0-8.191-3.664-8.191-8.183v-40.57c1.543-2.973 3.132-5.86 6.39-5.86 5.16 0 6.563 7.242 9.989 10.586Zm26.211-.66v26.023c0 4.067-3.3 7.364-7.37 7.364-4.071 0-7.372-3.297-7.372-7.364V72.707c1.281-2.195 2.809-3.965 5.364-3.965 4.84 0 6.375 6.38 9.378 9.926Zm0 0"
                    ></path><path
                        style="fill-rule:evenodd;fill:#000;fill-opacity:.298039"
                        d="M40.844 85.094c-1.309-1.602-2.856-2.79-5.094-2.79-5.316 0-6.293 6.696-9.648 9.712V63.145a7.365 7.365 0 0 1 7.37-7.364c4.071 0 7.372 3.297 7.372 7.364Zm27.843.515c-1.394-1.855-3.023-3.304-5.496-3.304-5.914 0-6.457 8.285-10.882 10.578v-12.77c0-4.52 3.668-8.183 8.191-8.183a8.185 8.185 0 0 1 8.188 8.183Zm26.211-1.433c-1.136-1.117-2.48-1.871-4.265-1.871-5.73 0-6.418 7.777-10.477 10.343V66.734a7.371 7.371 0 0 1 14.742 0Zm0 0"
                    ></path><path
                        style="fill-rule:evenodd;fill:#fb70a9;fill-opacity:1"
                        d="M108.566 83.547c-1.937 2.926-3.406 6.527-7.34 6.527-6.624 0-6.98-10.203-13.609-10.203-6.625 0-6.265 10.203-12.887 10.203-6.625 0-6.98-10.203-13.609-10.203-6.625 0-6.266 10.203-12.887 10.203-6.625 0-6.98-10.203-13.605-10.203-6.629 0-6.27 10.203-12.89 10.203-2.083 0-3.544-1.008-4.778-2.39-4.738-8.239-7.465-17.895-7.465-28.22 0-30.222 23.367-54.722 52.191-54.722 28.825 0 52.192 24.5 52.192 54.723 0 8.64-1.91 16.816-5.313 24.082Zm0 0"
                    ></path><path
                        style="fill-rule:evenodd;fill:#e24ca6;fill-opacity:1"
                        d="M97.273 88.984c13.676-20.332 14.028-42.879 1.059-67.652 9.613 9.844 15.547 23.348 15.547 38.25 0 8.61-1.98 16.75-5.508 23.992-2.004 2.91-3.531 6.5-7.61 6.5a5.947 5.947 0 0 1-3.488-1.09Zm0 0"
                    ></path><path
                        style="fill-rule:evenodd;fill:#fff;fill-opacity:1"
                        d="M58.89 73.117c18.15 0 25.79-10.52 25.79-25.46 0-14.942-11.547-28.692-25.79-28.692-14.245 0-25.792 13.75-25.792 28.691 0 14.942 7.64 25.461 25.793 25.461Zm0 0"
                    ></path><path
                        style="fill-rule:evenodd;fill:#030776;fill-opacity:1"
                        d="M61.625 37.836c0 5.89-4.332 10.668-9.672 10.668-5.344 0-9.672-4.777-9.672-10.668 0-5.89 4.328-10.668 9.672-10.668 5.34 0 9.672 4.777 9.672 10.668Zm0 0"
                    ></path><path
                        style="fill-rule:evenodd;fill:#fff;fill-opacity:1"
                        d="M55.176 35.375c0 2.719-2.164 4.922-4.836 4.922s-4.836-2.203-4.836-4.922 2.164-4.922 4.836-4.922 4.836 2.203 4.836 4.922Zm0 0"
                    ></path></svg
                >
            </div>
            <!--Astro svg -->
            <div class="spin">
                <svg
                    viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                        ><title>file_type_astro</title><path
                            d="M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z"
                            style="fill:#ff5d01;fill-rule:evenodd"></path></g
                    ></svg
                >
            </div>
            <!--Bootstrap SVG -->
            <div class="spin">
                <svg
                    viewBox="0 0 256 256"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    preserveAspectRatio="xMidYMid"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <g>
                            <path
                                d="M0,222.991225 C0,241.223474 14.7785318,256 33.0087747,256 L222.991225,256 C241.223474,256 256,241.221468 256,222.991225 L256,33.0087747 C256,14.7765263 241.221468,0 222.991225,0 L33.0087747,0 C14.7765263,0 0,14.7785318 0,33.0087747 L0,222.991225 Z"
                                fill="#563D7C"
                            >
                            </path>
                            <path
                                d="M106.157563,113.238095 L106.157563,76.9845938 L138.069328,76.9845938 C141.108559,76.9845938 144.039202,77.2378593 146.861345,77.7443978 C149.683488,78.2509362 152.179961,79.1554557 154.35084,80.4579832 C156.52172,81.7605107 158.258397,83.5695496 159.560924,85.8851541 C160.863452,88.2007585 161.514706,91.1675823 161.514706,94.7857143 C161.514706,101.298352 159.560944,106.001853 155.653361,108.896359 C151.745779,111.790864 146.752832,113.238095 140.67437,113.238095 L106.157563,113.238095 L106.157563,113.238095 Z M72.07493,50.5 L72.07493,205.5 L147.186975,205.5 C154.133788,205.5 160.899594,204.631661 167.484594,202.894958 C174.069594,201.158255 179.93088,198.480877 185.068627,194.862745 C190.206375,191.244613 194.294803,186.577293 197.334034,180.860644 C200.373264,175.143996 201.892857,168.37819 201.892857,160.563025 C201.892857,150.866431 199.541107,142.581033 194.837535,135.706583 C190.133963,128.832132 183.00635,124.020088 173.454482,121.270308 C180.401295,117.941627 185.647508,113.672295 189.193277,108.462185 C192.739047,103.252075 194.511905,96.7395349 194.511905,88.9243697 C194.511905,81.6881057 193.317939,75.6097352 190.929972,70.6890756 C188.542005,65.7684161 185.177193,61.8247114 180.835434,58.8578431 C176.493676,55.8909749 171.283644,53.756309 165.205182,52.4537815 C159.12672,51.151254 152.397096,50.5 145.016106,50.5 L72.07493,50.5 L72.07493,50.5 Z M106.157563,179.015406 L106.157563,136.466387 L143.279412,136.466387 C150.660401,136.466387 156.594049,138.166883 161.080532,141.567927 C165.567016,144.968971 167.810224,150.649353 167.810224,158.609244 C167.810224,162.661552 167.122789,165.990183 165.747899,168.595238 C164.373009,171.200293 162.527789,173.262597 160.212185,174.782213 C157.89658,176.301828 155.219203,177.387252 152.179972,178.038515 C149.140741,178.689779 145.956833,179.015406 142.628151,179.015406 L106.157563,179.015406 L106.157563,179.015406 Z"
                                fill="#FFFFFF"
                            >
                            </path>
                        </g>
                    </g></svg
                >
            </div>
            
            <div class="spin">
                <svg
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#1172B8"
                        ></path>
                        <path d="M26 5H16V29.5L24 27L26 5Z" fill="#33AADD"></path>
                        <path
                            d="M19.5 17.5H9.5L9 14L17 11.5H9L8.5 8.5H24L23.5 12L17 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5Z"
                            fill="white"></path>
                    </g></svg
                >
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 border-neon-yellow rounded">
        <div class="text-center pt-6 text-neon-yellow text-2xl px-6"> Databases </div>
        <div class="grid grid-cols-3 px-4">
            <div class="spin">
                <svg
                    viewBox="-18.458 -22.75 191.151 191.151"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                        ><path
                            d="M-18.458 6.58h191.151v132.49H-18.458V6.58z"
                            fill="none"></path><path
                            d="M40.054 113.583h-5.175c-.183-8.735-.687-16.947-1.511-24.642h-.046l-7.879 24.642h-3.94l-7.832-24.642h-.045c-.581 7.388-.947 15.602-1.099 24.642H7.81c.304-10.993 1.068-21.299 2.289-30.919h6.414l7.465 22.719h.046l7.511-22.719h6.137c1.344 11.268 2.138 21.575 2.382 30.919M62.497 90.771c-2.107 11.434-4.887 19.742-8.337 24.928-2.688 3.992-5.633 5.99-8.84 5.99-.855 0-1.91-.258-3.16-.77v-2.757c.611.088 1.328.138 2.152.138 1.498 0 2.702-.412 3.62-1.238 1.098-1.006 1.647-2.137 1.647-3.388 0-.858-.428-2.612-1.282-5.268L42.618 90.77h5.084l4.076 13.19c.916 2.995 1.298 5.086 1.145 6.277 2.229-5.953 3.786-12.444 4.673-19.468h4.901v.002z"
                            fill="#5d87a1"></path><path
                            d="M131.382 113.583h-14.7V82.664h4.945v27.113h9.755v3.806zM112.834 114.33l-5.684-2.805c.504-.414.986-.862 1.42-1.381 2.416-2.838 3.621-7.035 3.621-12.594 0-10.229-4.014-15.346-12.045-15.346-3.938 0-7.01 1.298-9.207 3.895-2.414 2.84-3.619 7.022-3.619 12.551 0 5.435 1.068 9.422 3.205 11.951 1.955 2.291 4.902 3.438 8.843 3.438 1.47 0 2.819-.18 4.048-.543l7.4 4.308 2.018-3.474zm-18.413-6.934c-1.252-2.014-1.878-5.248-1.878-9.707 0-7.785 2.365-11.682 7.1-11.682 2.475 0 4.289.932 5.449 2.792 1.25 2.017 1.879 5.222 1.879 9.619 0 7.849-2.367 11.774-7.099 11.774-2.476.001-4.29-.928-5.451-2.796M85.165 105.013c0 2.622-.962 4.773-2.884 6.458-1.924 1.678-4.504 2.519-7.737 2.519-3.024 0-5.956-.966-8.794-2.888l1.329-2.655c2.442 1.223 4.653 1.831 6.638 1.831 1.863 0 3.319-.413 4.375-1.232 1.055-.822 1.684-1.975 1.684-3.433 0-1.837-1.281-3.407-3.631-4.722-2.167-1.19-6.501-3.678-6.501-3.678-2.349-1.712-3.525-3.55-3.525-6.578 0-2.506.877-4.529 2.632-6.068 1.757-1.545 4.024-2.315 6.803-2.315 2.87 0 5.479.769 7.829 2.291l-1.192 2.656c-2.01-.854-3.994-1.281-5.951-1.281-1.585 0-2.809.381-3.66 1.146-.858.762-1.387 1.737-1.387 2.933 0 1.828 1.308 3.418 3.722 4.759 2.196 1.192 6.638 3.723 6.638 3.723 2.409 1.709 3.612 3.53 3.612 6.534"
                            fill="#f8981d"></path><path
                            d="M137.59 72.308c-2.99-.076-5.305.225-7.248 1.047-.561.224-1.453.224-1.531.933.303.3.338.784.601 1.198.448.747 1.229 1.752 1.942 2.276.783.6 1.569 1.194 2.393 1.717 1.453.899 3.1 1.422 4.516 2.318.825.521 1.645 1.195 2.471 1.756.406.299.666.784 1.193.971v-.114c-.264-.336-.339-.822-.598-1.196l-1.122-1.082c-1.084-1.456-2.431-2.727-3.884-3.771-1.196-.824-3.812-1.944-4.297-3.322l-.076-.076c.822-.077 1.797-.375 2.578-.604 1.271-.335 2.43-.259 3.734-.594.6-.15 1.195-.338 1.797-.523v-.337c-.676-.673-1.158-1.567-1.869-2.203-1.902-1.643-3.998-3.25-6.164-4.595-1.16-.749-2.652-1.231-3.887-1.868-.445-.225-1.195-.336-1.457-.71-.67-.822-1.047-1.904-1.533-2.877-1.08-2.053-2.129-4.331-3.061-6.502-.674-1.456-1.084-2.91-1.906-4.257-3.85-6.35-8.031-10.196-14.457-13.971-1.381-.786-3.024-1.121-4.779-1.533l-2.803-.148c-.598-.262-1.197-.973-1.719-1.309-2.132-1.344-7.621-4.257-9.189-.411-1.01 2.431 1.494 4.821 2.354 6.054.635.856 1.458 1.83 1.902 2.802.263.635.337 1.309.6 1.98.598 1.644 1.157 3.473 1.943 5.007.41.782.857 1.604 1.381 2.312.3.414.822.597.936 1.272-.521.744-.562 1.867-.861 2.801-1.344 4.221-.819 9.45 1.086 12.552.596.934 2.018 2.99 3.92 2.202 1.684-.672 1.311-2.801 1.795-4.668.111-.451.038-.747.262-1.043v.073c.521 1.045 1.047 2.052 1.53 3.1 1.159 1.829 3.177 3.735 4.858 5.002.895.676 1.604 1.832 2.725 2.245V74.1h-.074c-.227-.335-.559-.485-.857-.745-.674-.673-1.42-1.495-1.943-2.241-1.566-2.093-2.952-4.41-4.182-6.801-.602-1.16-1.121-2.428-1.606-3.586-.226-.447-.226-1.121-.601-1.346-.562.821-1.381 1.532-1.791 2.538-.711 1.609-.785 3.588-1.049 5.646l-.147.072c-1.19-.299-1.604-1.53-2.056-2.575-1.119-2.654-1.307-6.914-.336-9.976.26-.783 1.385-3.249.936-3.995-.225-.715-.973-1.122-1.383-1.685-.482-.708-1.01-1.604-1.346-2.39-.896-2.091-1.347-4.408-2.312-6.498-.451-.974-1.234-1.982-1.868-2.879-.712-1.008-1.495-1.718-2.058-2.913-.186-.411-.447-1.083-.148-1.53.073-.3.225-.412.523-.487.484-.409 1.867.111 2.352.336 1.385.56 2.543 1.083 3.699 1.867.523.375 1.084 1.085 1.755 1.272h.786c1.193.26 2.538.072 3.661.41 1.979.636 3.772 1.569 5.38 2.576 4.893 3.103 8.928 7.512 11.652 12.778.447.858.637 1.644 1.045 2.539.787 1.832 1.76 3.7 2.541 5.493.785 1.755 1.533 3.547 2.654 5.005.559.784 2.805 1.195 3.812 1.606.745.335 1.905.633 2.577 1.044 1.271.783 2.537 1.682 3.732 2.543.595.448 2.465 1.382 2.576 2.13M99.484 39.844a5.82 5.82 0 0 0-1.529.188v.075h.072c.301.597.824 1.011 1.197 1.532.301.599.562 1.193.857 1.791l.072-.074c.527-.373.789-.971.789-1.868-.227-.264-.262-.522-.451-.784-.22-.374-.705-.56-1.007-.86"
                            fill="#5d87a1"></path><path
                            d="M141.148 113.578h.774v-3.788h-1.161l-.947 2.585-1.029-2.585h-1.118v3.788h.731v-2.882h.041l1.078 2.882h.557l1.074-2.882v2.882zm-6.235 0h.819v-3.146h1.072v-.643h-3.008v.643h1.115l.002 3.146z"
                            fill="#f8981d"></path></g
                    ></svg
                >
            </div>
            <div class="spin">
                <svg
                    viewBox="0 -183 512 512"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <defs> </defs>
                        <g
                            stroke="none"
                            stroke-width="1"
                            fill="none"
                            fill-rule="evenodd"
                        >
                            <g>
                                <path
                                    d="M476.713442,60.4626238 C476.252384,60.5550082 475.791324,61.5703742 475.791324,62.1238178 C475.69894,65.8148802 475.606556,75.5972748 475.606556,82.241187 C475.606556,82.425956 475.882846,82.7946306 476.16,82.7946306 C477.54404,82.887015 480.866428,82.9793996 483.726894,82.9793996 C487.69511,82.9793996 490.00213,82.425956 491.29465,81.8725124 C494.616174,80.2113186 496.184984,76.6117772 496.184984,72.6435614 C496.184984,63.6926272 489.909746,60.2778548 480.589274,60.2778548 C479.943446,60.1863338 478.098346,60.1863338 476.713442,60.4626238 L476.713442,60.4626238 L476.713442,60.4626238 Z M500.522738,101.712728 C500.522738,92.5770252 493.785578,87.5010588 481.60464,87.5010588 C481.051196,87.5010588 477.175366,87.4086744 476.252384,87.5934434 C475.97523,87.6858278 475.606556,87.8705968 475.606556,88.1477502 C475.606556,94.699278 475.514172,105.127501 475.791324,109.187238 C475.97523,110.940816 477.26775,113.432607 478.83656,114.170819 C480.49689,115.093801 484.2812,115.277706 486.864512,115.277706 C494.155116,115.277706 500.522738,111.217969 500.522738,101.712728 L500.522738,101.712728 L500.522738,101.712728 Z M457.888592,55.387521 C458.810712,55.387521 461.579656,55.663811 468.68549,55.663811 C475.421786,55.663811 480.774044,55.4799054 487.326434,55.4799054 C495.354388,55.4799054 506.428438,58.3403708 506.428438,70.3365394 C506.428438,76.2431028 502.275454,80.949531 496.830812,83.256553 C496.554522,83.3489374 496.554522,83.532843 496.830812,83.6252274 C504.582474,85.5635748 511.41202,90.3623876 511.41202,99.4057064 C511.41202,108.26512 505.874994,113.893666 497.846178,117.400823 C492.95498,119.523076 486.864512,120.261288 480.681658,120.261288 C475.97523,120.261288 463.333234,119.707845 456.319784,119.892614 C455.581572,119.61546 456.965612,116.293072 457.61144,115.739629 C459.272634,115.647244 460.56429,115.55486 462.317868,115.001416 C464.809658,114.355588 465.085948,113.617376 465.455486,109.833929 C465.640256,106.603926 465.640256,95.1603372 465.640256,87.0399998 C465.640256,75.8735648 465.73264,68.306671 465.640256,64.6156086 C465.547872,61.7551432 464.532506,60.8321618 462.502636,60.2778548 C460.933828,60.0015648 458.349652,59.6320268 456.2274,59.3557368 C455.765476,58.8938144 457.334286,55.7561954 457.888592,55.387521 L457.888592,55.387521 L457.888592,55.387521 Z M404.641456,112.786779 C406.856958,114.539494 411.193848,115.277706 415.069678,115.277706 C420.05326,115.277706 425.03598,114.355588 429.834792,110.017835 C434.72599,105.58856 438.139898,98.7598784 438.139898,87.8705968 C438.139898,77.4423742 434.171682,68.952499 426.051346,63.9697806 C421.437302,61.1084518 415.530738,59.9091802 408.702056,59.9091802 C406.672188,59.9091802 404.73384,60.0015648 403.53457,60.5550082 C403.257416,60.7397772 402.611588,61.5703742 402.611588,62.0314332 C402.426818,63.8773962 402.426818,78.0882022 402.426818,86.3941718 C402.426818,94.9764316 402.426818,106.9726 402.611588,108.356641 C402.611588,109.741545 403.257416,111.863797 404.641456,112.786779 L404.641456,112.786779 L404.641456,112.786779 Z M383.69349,55.387521 C385.447068,55.387521 392.183366,55.663811 395.413368,55.663811 C401.227548,55.663811 405.379668,55.387521 416.361334,55.387521 C425.589422,55.387521 433.341086,57.8793118 438.87811,62.5848768 C445.614408,68.3990554 449.121564,76.4278716 449.121564,86.2094028 C449.121564,100.143919 442.753942,108.172735 436.38632,112.786779 C430.01956,117.493207 421.713592,120.261288 409.902192,120.261288 C403.626954,120.261288 392.830056,120.076519 383.87826,119.984135 L383.785874,119.984135 C383.324816,119.154401 384.524088,115.924398 385.2623,115.832013 C387.661706,115.55486 388.307534,115.462475 389.507668,115.001416 C391.445152,114.263204 391.81469,113.247838 392.091844,109.833929 C392.368134,103.466307 392.27575,95.8070286 392.27575,87.1323844 C392.27575,80.949531 392.368134,68.8601146 392.183366,64.9842832 C391.907076,61.7551432 390.523034,60.9245462 387.75409,60.3702392 C386.37005,60.0939492 384.524088,59.7244114 381.940776,59.4481212 C381.571238,58.8014298 383.232432,55.9409644 383.69349,55.387521 L383.69349,55.387521 L383.69349,55.387521 Z"
                                    fill="#8E714E"
                                >
                                </path>
                                <path
                                    d="M272.033456,116.385457 C269.726434,116.108303 268.06524,115.739629 266.034508,114.816647 C265.758218,114.631878 265.296296,113.70976 265.296296,113.340222 C265.111528,110.110219 265.111528,100.882131 265.111528,94.699278 C265.111528,89.7156962 264.281794,85.378806 262.158678,82.3335716 C259.666886,78.8264146 256.068208,76.7965462 251.454164,76.7965462 C247.393564,76.7965462 241.948924,79.5654906 237.427264,83.441322 C237.33488,83.532843 236.596668,84.1795344 236.689052,83.1641684 C236.689052,82.1488026 236.87382,80.118934 236.966206,78.7348936 C237.05859,77.4423742 236.320378,76.7965462 236.320378,76.7965462 C233.366664,78.2729712 225.061558,80.2113186 222.016323,80.4876086 C219.801686,80.949531 219.248242,83.071784 221.555264,83.8099964 L221.647649,83.8099964 C224.138576,84.548209 225.79977,85.378806 227.091426,86.2094028 C228.014408,86.9476154 227.922022,87.9629812 227.922022,88.7935782 C228.014408,95.714644 228.014408,106.326772 227.738118,112.140951 C227.645732,114.447973 226.999904,115.277706 225.338712,115.647244 L225.522616,115.55486 C224.23096,115.832013 223.215594,116.108303 221.646785,116.293072 C221.093342,116.846516 221.093342,119.800229 221.646785,120.446057 C222.662152,120.446057 228.014408,120.168904 232.444546,120.168904 C238.535014,120.168904 241.672634,120.446057 243.241442,120.446057 C243.88727,119.707845 244.07204,116.9389 243.702502,116.293072 C241.948924,116.200688 240.657268,116.016782 239.457996,115.647244 C237.796802,115.277706 237.33488,114.447973 237.242496,112.509625 C237.05859,107.618428 237.05859,97.2834534 237.05859,90.2700032 C237.05859,88.3316558 237.612034,87.4086744 238.165476,86.8552308 C240.28773,85.0101314 243.702502,83.717612 246.747736,83.717612 C249.700586,83.717612 251.638934,84.6405934 253.115358,85.8407284 C255.145228,87.5010588 255.791056,89.9004652 256.068208,91.6540436 C256.529268,95.6222596 256.345362,103.466307 256.345362,110.294988 C256.345362,113.98605 256.068208,114.909032 254.684168,115.370091 C254.03834,115.647244 252.377146,116.016782 250.438798,116.200688 C249.79297,116.846516 249.97774,119.707845 250.438798,120.353673 C253.115358,120.353673 256.252978,120.076519 260.867022,120.076519 C266.587952,120.076519 270.279878,120.353673 271.756302,120.353673 C272.217362,119.800229 272.40213,117.123669 272.032592,116.385457 L272.033456,116.385457 L272.033456,116.385457 Z M297.595466,81.1343 C292.70427,81.1343 289.659034,84.9177468 289.659034,90.8234468 C289.659034,96.821531 292.334732,103.742597 299.902488,103.742597 C301.194144,103.742597 303.59355,103.189153 304.700438,101.897497 C306.454016,100.236303 307.654152,96.9139156 307.654152,93.407622 C307.654152,85.7483438 303.86984,81.1343 297.595466,81.1343 L297.595466,81.1343 L297.595466,81.1343 Z M296.948776,121.922482 C295.103676,121.922482 293.811156,122.475926 292.981422,122.937848 C289.104728,125.428776 287.352012,127.828182 287.352012,130.689511 C287.352012,133.365207 288.366516,135.48746 290.582016,137.333423 C293.257712,139.640445 296.948776,140.748195 301.655204,140.748195 C311.06806,140.748195 315.221044,135.672229 315.221044,130.689511 C315.221044,127.182354 313.467466,124.875332 309.868788,123.583676 C307.284614,122.475926 302.578184,121.922482 296.948776,121.922482 L296.948776,121.922482 L296.948776,121.922482 Z M297.595466,145.915683 C291.966056,145.915683 287.905456,144.715548 284.399162,142.039851 C280.98439,139.455676 279.507966,135.579845 279.507966,132.904148 C279.507966,132.165936 279.692734,130.135204 281.353928,128.290104 C282.368432,127.182354 284.583068,125.060101 289.843804,121.461423 C290.02771,121.369039 290.120094,121.276654 290.120094,121.091885 C290.120094,120.907116 289.935324,120.722347 289.75142,120.630826 C285.413666,118.969632 284.12201,116.293072 283.752472,114.816647 L283.752472,114.631878 C283.66095,114.078435 283.476182,113.524991 284.306778,112.970684 C284.952606,112.509625 285.875588,111.956182 286.89009,111.310354 C288.4589,110.387373 290.120094,109.372007 291.13546,108.54141 C291.320228,108.356641 291.320228,108.172735 291.320228,107.987966 C291.320228,107.803197 291.13546,107.618428 290.95069,107.526907 C284.491548,105.403791 281.261544,100.604978 281.261544,93.407622 C281.261544,88.7011938 283.383798,84.4558244 287.167244,81.780128 C289.75142,79.7493962 296.210562,77.2584686 300.455932,77.2584686 L300.733086,77.2584686 C305.069976,77.3499898 307.469382,78.2729712 310.883292,79.473106 C312.729254,80.118934 314.482832,80.3952242 316.882238,80.3952242 C320.480916,80.3952242 322.049726,79.2883372 323.341382,77.9966812 C323.433766,78.1805866 323.618536,78.6425092 323.71092,79.8417806 C323.803304,81.0419156 323.433766,82.7946306 322.510786,84.08715 C321.772572,85.1016524 320.112242,85.8407284 318.451048,85.8407284 L317.989126,85.8407284 C316.327932,85.6559594 315.58972,85.4711904 315.58972,85.4711904 L315.221044,85.6559594 C315.12866,85.8407284 315.221044,86.024634 315.31343,86.3017874 L315.405814,86.4865564 C315.58972,87.3171532 315.959258,89.8080808 315.959258,90.4547722 C315.959258,98.021666 312.914022,101.34319 309.68402,103.834981 C306.5464,106.142003 302.947722,107.618428 298.887122,107.987966 C298.794738,107.987966 298.426064,107.987966 297.595466,108.080351 C297.133544,108.080351 296.487716,108.172735 296.395332,108.172735 L296.302948,108.172735 C295.564734,108.356641 293.719636,109.279622 293.719636,110.848432 C293.719636,112.232472 294.550232,113.893666 298.517584,114.170819 C299.348182,114.263204 300.178778,114.263204 301.10176,114.355588 C306.361632,114.724263 312.914022,115.186185 315.959258,116.200688 C320.203764,117.769497 322.880324,121.552944 322.880324,126.075467 C322.880324,132.904148 317.989126,139.27177 309.868788,143.239123 C305.900572,144.992701 301.932356,145.915683 297.595466,145.915683 L297.595466,145.915683 L297.595466,145.915683 Z M350.195912,81.595359 C348.257564,81.595359 346.503986,82.056418 345.21233,82.9793996 C341.613652,85.194037 339.76769,89.6241752 339.76769,96.0833186 C339.76769,108.172735 345.858158,116.66261 354.532802,116.66261 C357.116978,116.66261 359.146846,115.924398 360.900424,114.447973 C363.57612,112.232472 364.961024,107.803197 364.961024,101.620344 C364.961024,89.6241752 358.962076,81.595359 350.195912,81.595359 L350.195912,81.595359 L350.195912,81.595359 Z M351.857106,121.091885 C336.169012,121.091885 330.539602,109.556776 330.539602,98.7598784 C330.539602,91.1929846 333.584836,85.378806 339.675304,81.225821 C344.013058,78.5501246 349.180546,77.0736996 353.79459,77.0736996 C365.790758,77.0736996 374.189112,85.6559594 374.189112,98.021666 C374.189112,106.419157 370.866724,113.063069 364.499102,117.123669 C361.453868,119.153538 356.193996,121.091885 351.856242,121.091885 L351.857106,121.091885 L351.857106,121.091885 Z M187.410994,81.595359 C185.472647,81.595359 183.719932,82.056418 182.427413,82.9793996 C178.828735,85.194037 176.982772,89.6241752 176.982772,96.0833186 C176.982772,108.172735 183.073241,116.66261 191.747885,116.66261 C194.33206,116.66261 196.361929,115.924398 198.115507,114.447973 C200.791203,112.232472 202.176107,107.803197 202.176107,101.620344 C202.176107,89.6241752 196.269544,81.595359 187.410994,81.595359 L187.410994,81.595359 L187.410994,81.595359 Z M189.072188,121.091885 C173.384094,121.091885 167.754684,109.556776 167.754684,98.7598784 C167.754684,91.1929846 170.799918,85.378806 176.890387,81.225821 C181.228141,78.5501246 186.395628,77.0736996 191.009672,77.0736996 C203.006704,77.0736996 211.404195,85.6559594 211.404195,98.021666 C211.404195,106.419157 208.081807,113.063069 201.714185,117.123669 C198.761335,119.153538 193.501463,121.091885 189.072188,121.091885 L189.072188,121.091885 L189.072188,121.091885 Z M83.5941444,120.168904 C83.4093754,119.892614 83.2246064,119.062017 83.316991,118.046651 C83.316991,117.308438 83.50176,116.846516 83.5941444,116.66261 C85.5316284,116.385457 86.5469944,116.108303 87.6538814,115.832013 C89.4998442,115.370091 90.2380568,114.355588 90.3304412,112.048566 C90.6075946,106.511541 90.6075946,95.990934 90.5152102,88.7011938 L90.5152102,88.5164248 C90.5152102,87.6858278 90.5152102,86.6704618 89.4998442,85.9322494 C88.0234192,85.0101314 86.2698408,84.1795344 83.962819,83.532843 C83.132222,83.256553 82.5787784,82.7946306 82.671163,82.241187 C82.671163,81.6877436 83.2246064,81.0419156 84.4247414,80.8571466 C87.4699758,80.579993 95.405544,78.6425092 98.543163,77.2584686 C98.727932,77.4423742 99.0050854,77.9966812 99.0050854,78.7348936 L98.912701,79.7493962 C98.8203164,80.764762 98.727932,81.964897 98.727932,83.1641684 C98.727932,83.532843 99.0974698,83.8099964 99.4661444,83.8099964 C99.6509134,83.8099964 99.8356824,83.717612 100.020451,83.6252274 C105.926151,79.0111836 111.278407,77.3499898 114.046488,77.3499898 C118.569011,77.3499898 122.075305,79.473106 124.751864,83.902381 C124.93577,84.1795344 125.120539,84.2710554 125.397692,84.2710554 C125.582461,84.2710554 125.858751,84.1795344 125.951136,83.9947654 C131.395777,79.8417806 136.840418,77.3499898 140.439096,77.3499898 C149.021355,77.3499898 154.097321,83.717612 154.097321,94.5145092 C154.097321,97.5597436 154.097321,101.527959 154.004937,105.127501 C154.004937,108.356641 153.912553,111.310354 153.912553,113.432607 C153.912553,113.893666 154.558381,115.370091 155.573746,115.647244 C156.865402,116.293072 158.618981,116.570226 160.926003,116.9389 L161.018387,116.9389 C161.203156,117.584728 160.833618,119.984135 160.464944,120.446057 C159.910637,120.446057 159.08004,120.446057 158.157922,120.353673 C156.404343,120.261288 153.912553,120.168904 151.144472,120.168904 C145.422677,120.168904 142.469827,120.261288 139.608499,120.446057 C139.424593,119.707845 139.332208,117.493207 139.608499,116.9389 C141.269692,116.66261 142.100289,116.385457 143.115655,116.108303 C144.961618,115.55486 145.422677,114.724263 145.515062,112.324856 C145.515062,110.572141 145.883736,95.6222596 145.330293,92.0227182 C144.776849,88.3316558 142.007905,83.9947654 135.917436,83.9947654 C133.610414,83.9947654 130.011736,84.9177468 126.504579,87.5934434 C126.320674,87.7782124 126.135905,88.2392714 126.135905,88.5164248 L126.135905,88.6088092 C126.504579,90.5462932 126.504579,92.7617942 126.504579,96.175703 L126.504579,102.173787 C126.504579,106.326772 126.412195,110.202604 126.504579,113.155453 C126.504579,115.186185 127.704714,115.647244 128.72008,116.016782 C129.273524,116.108303 129.642198,116.200688 130.104121,116.293072 C130.934718,116.477841 131.765315,116.66261 133.056971,116.9389 C133.24174,117.308438 133.24174,118.50771 132.964586,119.523076 C132.872202,120.076519 132.687433,120.353673 132.595912,120.446057 C129.458293,120.353673 126.228289,120.261288 121.521861,120.261288 C120.137821,120.261288 117.738414,120.353673 115.707682,120.353673 C114.046488,120.353673 112.477679,120.446057 111.555561,120.446057 C111.463176,120.261288 111.278407,119.61546 111.278407,118.600094 C111.278407,117.769497 111.463176,117.123669 111.647945,116.9389 C112.109004,116.846516 112.477679,116.754995 112.939601,116.754995 C114.046488,116.570226 114.96947,116.385457 115.892451,116.200688 C117.461261,115.739629 118.014704,114.909032 118.107089,112.879163 C118.384242,108.26512 118.660532,95.068816 118.014704,91.7464282 C116.907817,86.3941718 113.862583,83.717612 108.971386,83.717612 C106.11092,83.717612 102.511379,85.1016524 99.558529,87.3171532 C99.0974698,87.6858278 98.727932,88.6088092 98.727932,89.4394062 L98.727932,94.884047 C98.727932,101.527959 98.727932,109.833929 98.8203164,113.432607 C98.912701,114.539494 99.2813754,115.832013 101.404492,116.293072 C101.865551,116.385457 102.603763,116.570226 103.526745,116.66261 L105.187939,116.9389 C105.372708,117.493207 105.280323,119.707845 104.910785,120.446057 C103.987804,120.446057 102.880917,120.353673 101.588397,120.353673 C99.6509134,120.261288 97.1591224,120.168904 94.3910416,120.168904 C91.1610382,120.168904 88.8540162,120.261288 87.0080534,120.353673 C85.7163974,120.168904 84.7010314,120.168904 83.5941444,120.168904 L83.5941444,120.168904 L83.5941444,120.168904 Z"
                                    fill="#442D22"
                                >
                                </path>
                                <g>
                                    <path
                                        d="M35.0534362,142.317005 L31.2699893,141.024486 C31.2699893,141.024486 31.7319117,121.737713 24.8108459,120.353673 C20.1968021,115.001416 25.5490584,-106.659184 42.1592709,119.61546 C42.1592709,119.61546 36.43834,122.475926 35.4229741,127.367123 C34.3152237,132.165936 35.0534362,142.317005 35.0534362,142.317005 L35.0534362,142.317005 L35.0534362,142.317005 Z"
                                        fill="#FFFFFF"
                                    >
                                    </path>
                                    <path
                                        d="M35.0534362,142.317005 L31.2699893,141.024486 C31.2699893,141.024486 31.7319117,121.737713 24.8108459,120.353673 C20.1968021,115.001416 25.5490584,-106.659184 42.1592709,119.61546 C42.1592709,119.61546 36.43834,122.475926 35.4229741,127.367123 C34.3152237,132.165936 35.0534362,142.317005 35.0534362,142.317005 L35.0534362,142.317005 L35.0534362,142.317005 Z"
                                        fill="#A6A385"
                                    >
                                    </path>
                                    <path
                                        d="M37.0841679,123.676061 C37.0841679,123.676061 70.2130718,101.897497 62.461409,56.5867926 C54.9868998,23.6426576 37.360458,12.8457605 35.422974,8.69277572 C33.3007211,5.7399258 31.2699892,0.572438448 31.2699892,0.572438448 L32.6548931,92.2074874 C32.6548931,92.2998718 29.7935642,120.261288 37.0841679,123.676061"
                                        fill="#FFFFFF"
                                    >
                                    </path>
                                    <path
                                        d="M37.0841679,123.676061 C37.0841679,123.676061 70.2130718,101.897497 62.461409,56.5867926 C54.9868998,23.6426576 37.360458,12.8457605 35.422974,8.69277572 C33.3007211,5.7399258 31.2699892,0.572438448 31.2699892,0.572438448 L32.6548931,92.2074874 C32.6548931,92.2998718 29.7935642,120.261288 37.0841679,123.676061"
                                        fill="#499D4A"
                                    >
                                    </path>
                                    <path
                                        d="M29.332506,124.875332 C29.332506,124.875332 -1.76652951,103.650212 0.0794333896,66.2768026 C1.8321484,28.9025296 23.7954806,10.5387386 28.0399866,7.21635076 C30.8089308,4.26350084 30.9013154,3.15575042 31.0860844,0.202900506 C33.0235682,4.35588532 32.6548938,62.3085868 32.9311838,69.1372682 C33.7617808,95.4374908 31.4547588,119.892614 29.332506,124.875332 L29.332506,124.875332 L29.332506,124.875332 Z"
                                        fill="#FFFFFF"
                                    >
                                    </path>
                                    <path
                                        d="M29.332506,124.875332 C29.332506,124.875332 -1.76652951,103.650212 0.0794333896,66.2768026 C1.8321484,28.9025296 23.7954806,10.5387386 28.0399866,7.21635076 C30.8089308,4.26350084 30.9013154,3.15575042 31.0860844,0.202900506 C33.0235682,4.35588532 32.6548938,62.3085868 32.9311838,69.1372682 C33.7617808,95.4374908 31.4547588,119.892614 29.332506,124.875332 L29.332506,124.875332 L29.332506,124.875332 Z"
                                        fill="#58AA50"
                                    >
                                    </path>
                                </g>
                            </g>
                        </g>
                    </g></svg
                >
            </div>
            <div class="spin">
                <svg
                    viewBox="-4 0 264 264"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    preserveAspectRatio="xMidYMid"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <g>
                            <path
                                d="M255.007926,158.085617 C253.473109,153.437413 249.452194,150.199279 244.251788,149.42182 C241.799982,149.055852 238.991667,149.211935 235.668988,149.897164 C229.877358,151.092028 225.580342,151.546679 222.44449,151.635363 C234.280794,131.650217 243.905921,108.859714 249.446873,87.4065589 C258.406282,52.7182633 253.61855,36.9154365 248.023797,29.7669469 C233.217182,10.8477783 211.614448,0.683454965 185.55152,0.371879908 C171.649478,0.202198614 159.443658,2.94725173 153.077358,4.92075751 C147.149155,3.87547344 140.774577,3.29134411 134.08606,3.18315012 C121.550337,2.9833164 110.473164,5.71595381 101.008259,11.332582 C95.7670577,9.56127483 87.3580785,7.06335335 77.6460416,5.46882217 C54.8035104,1.71868822 36.3939769,4.64110855 22.9282587,14.153903 C6.62230023,25.6721293 -0.937090069,45.6838799 0.461154734,73.6339954 C0.904572748,82.5082679 5.86908083,109.507695 13.6850624,135.114199 C18.1771824,149.831538 22.9672794,162.053912 27.9223279,171.443732 C34.9490254,184.758688 42.4676212,192.600092 50.9085266,195.415501 C55.6400924,196.992296 64.2358984,198.09552 73.2774873,190.566873 C74.4232794,191.953885 75.9515935,193.33321 77.9812656,194.613801 C80.5578199,196.239076 83.7090439,197.566965 86.8555381,198.353885 C98.1969885,201.189395 108.820102,200.479926 117.882975,196.506309 C117.93855,198.117986 117.981709,199.658125 118.018365,200.987788 C118.07867,203.145164 118.137792,205.259972 118.217016,207.237617 C118.753848,220.612286 119.663741,231.011326 122.359723,238.286928 C122.507529,238.687778 122.706771,239.29733 122.917247,239.943538 C124.261691,244.062005 126.511298,250.955677 132.232573,256.355326 C138.158411,261.947714 145.325229,263.663446 151.888998,263.662855 C155.180933,263.662855 158.322106,263.231261 161.076619,262.640628 C170.897441,260.536462 182.050291,257.329663 190.118134,245.84218 C197.745515,234.981986 201.453672,218.625182 202.124711,192.851363 C202.211621,192.122975 202.292028,191.427104 202.369478,190.763751 C202.421506,190.316194 202.474716,189.858587 202.528517,189.402162 L204.325838,189.560018 L204.788767,189.591353 C214.791095,190.047187 227.021155,187.925875 234.532065,184.437062 C240.467363,181.68255 259.485857,171.642383 255.007926,158.085617"
                                fill="#000000"
                            >
                            </path>
                            <path
                                d="M237.905589,160.722476 C208.165838,166.857016 206.121386,156.78788 206.121386,156.78788 C237.521885,110.194697 250.64824,51.0516028 239.320388,36.5766651 C208.417109,-2.90823095 154.921977,15.7655797 154.029229,16.2503834 L153.741894,16.3018199 C147.866309,15.0821247 141.290716,14.3555104 133.900416,14.2349007 C120.443566,14.0143741 110.236083,17.7627344 102.490457,23.636545 C102.490457,23.636545 7.06039723,-15.6768961 11.4987159,73.0806097 C12.4429007,91.9631224 38.5625866,215.954032 69.7171363,178.502947 C81.1041109,164.808425 92.1061986,153.229303 92.1061986,153.229303 C97.5708822,156.859418 104.112776,158.711132 110.970975,158.046005 L111.503667,157.593718 C111.338125,159.294079 111.413801,160.957192 111.717099,162.925968 C103.691233,171.893062 106.049626,173.467492 90.0055797,176.770069 C73.7711594,180.115806 83.308194,186.072388 89.5349654,187.629081 C97.0837136,189.516859 114.54788,192.190965 126.34812,175.672166 L125.877506,177.556988 C129.022226,180.075603 131.230448,193.940397 130.860342,206.508637 C130.490236,219.077469 130.243104,227.706383 132.720924,234.446337 C135.198744,241.186291 137.668286,256.351187 158.759612,251.831871 C176.383409,248.055132 185.516046,238.268009 186.786587,221.94254 C187.688203,210.336222 189.728517,212.051954 189.857404,201.675381 L191.493912,196.762901 C193.381099,181.029838 191.793663,175.95418 202.651492,178.314938 L205.290125,178.546697 C213.2817,178.9103 223.741044,177.261376 229.879723,174.408129 C243.098309,168.273589 250.93794,158.031224 237.904406,160.722476 L237.905589,160.722476"
                                fill="#336791"
                            >
                            </path>
                            <path
                                d="M108.076342,81.5250624 C105.396915,81.152 102.969349,81.4972748 101.741376,82.426679 C101.050236,82.9499122 100.836804,83.5559169 100.779455,83.973321 C100.625145,85.0783187 101.399649,86.2997875 101.874993,86.9300323 C103.220619,88.7137552 105.18703,89.9399538 107.133339,90.2101432 C107.415353,90.249164 107.695594,90.2680831 107.974651,90.2680831 C111.220471,90.2680831 114.170679,87.7411917 114.430818,85.8758799 C114.755991,83.5399538 111.36473,81.9826697 108.076342,81.5250624"
                                fill="#FFFFFF"
                            >
                            </path>
                            <path
                                d="M196.860453,81.5989654 L196.859861,81.5989654 C196.604453,79.7679446 193.345626,79.2458938 190.253524,79.6757136 C187.166152,80.1061247 184.171603,81.4996397 184.421691,83.3347991 C184.622707,84.7620139 187.19867,87.198448 190.249386,87.1978568 C190.506568,87.1978568 190.766707,87.1807113 191.028619,87.1440554 C193.064794,86.8620416 194.558818,85.5690346 195.268286,84.8235012 C196.349635,83.688351 196.974559,82.4219492 196.860453,81.5989654"
                                fill="#FFFFFF"
                            >
                            </path>
                            <path
                                d="M247.802088,160.025423 C246.66812,156.596323 243.018494,155.492508 236.954309,156.745312 C218.949173,160.461155 212.501284,157.886965 210.38352,156.327908 C224.378975,135.007187 235.89188,109.236323 242.102688,85.1906513 C245.04521,73.8007206 246.670485,63.2231316 246.802919,54.601903 C246.949543,45.1375889 245.338457,38.1842032 242.014005,33.9362587 C228.611547,16.8108637 208.942115,7.62501617 185.131751,7.37256351 C168.763122,7.18869284 154.93321,11.3781062 152.252009,12.5558245 C146.60582,11.1516674 140.450587,10.2896628 133.750245,10.1796952 C121.461654,9.98104388 110.840314,12.9229746 102.045857,18.9191686 C98.2259584,17.4978661 88.3536998,14.10897 76.2814965,12.1644342 C55.4089238,8.80332564 38.8233164,11.3497275 26.9870115,19.7350577 C12.8638522,29.740933 6.34383372,47.626642 7.60727945,72.8943741 C8.03236952,81.3961755 12.8756767,107.547788 20.5202032,132.593219 C30.5822448,165.556915 41.5192979,184.218309 53.0280647,188.056536 C54.374873,188.505866 55.9286097,188.820397 57.6407945,188.820397 C61.8390762,188.820397 66.9856813,186.927889 72.3409885,180.490051 C81.2359538,169.788896 89.5408776,160.821801 92.6022356,157.563566 C97.1262818,159.992314 102.09552,161.347991 107.179455,161.483972 C107.188323,161.616998 107.201921,161.750023 107.213746,161.882457 C106.193885,163.092102 105.357303,164.152166 104.644286,165.05733 C101.122365,169.528166 100.389247,170.458753 89.0519353,172.793497 C85.8273995,173.458624 77.2611547,175.224018 77.1364065,181.227898 C76.9998337,187.787529 87.2605266,190.542633 88.4299677,190.834697 C92.5040924,191.854559 96.4286374,192.357691 100.171677,192.357691 C109.275344,192.357099 117.285838,189.365506 123.688203,183.576831 C123.490734,206.962697 124.466254,230.006836 127.273977,237.028212 C129.573247,242.775501 135.191649,256.822984 152.93842,256.821801 C155.54158,256.821801 158.408425,256.519095 161.561423,255.843326 C180.082106,251.872074 188.124527,243.686577 191.236139,225.640055 C192.901025,215.995418 195.758411,192.963695 197.101672,180.610069 C199.937774,181.49454 203.589173,181.899529 207.536185,181.898938 C215.768388,181.898938 225.266993,180.150097 231.224166,177.384942 C237.91564,174.277469 249.991982,166.650679 247.802088,160.025423 L247.802088,160.025423 Z M203.696185,76.5445912 C203.634697,80.1918522 203.132748,83.5027067 202.600647,86.9590023 C202.028342,90.6760277 201.435935,94.5189838 201.286947,99.1843326 C201.139732,103.724342 201.706716,108.444674 202.255372,113.008924 C203.363326,122.228471 204.500249,131.720573 200.098587,141.086744 C199.41454,139.871778 198.754143,138.546254 198.14873,137.078245 C197.601848,135.752129 196.414079,133.621949 194.769885,130.673515 C188.370476,119.197857 173.385312,92.3243603 181.056443,81.3583372 C183.340933,78.0935982 189.139658,74.7384018 203.696185,76.5445912 L203.696185,76.5445912 Z M186.052286,14.7581339 C207.386014,15.2293395 224.261321,23.2102725 236.209958,38.4780416 C245.373931,50.1890069 235.282919,103.476028 206.069949,149.446651 C205.781432,149.080092 205.487594,148.709986 205.183704,148.33042 C205.062503,148.178476 204.938938,148.024166 204.814189,147.868083 C212.362938,135.400942 210.886651,123.066236 209.572952,112.129774 C209.033164,107.641792 208.523529,103.402716 208.653007,99.4214134 C208.787215,95.2000739 209.34533,91.5811917 209.884527,88.0811455 C210.548471,83.7675751 211.223058,79.3050162 211.036822,74.0437136 C211.17576,73.4921016 211.231926,72.8399815 211.159206,72.0660693 C210.683861,67.0205635 204.924157,51.9224758 193.18363,38.2551501 C186.762346,30.7808961 177.396767,22.4156674 164.609774,16.7736166 C170.109931,15.6337367 177.631483,14.5707159 186.052286,14.7581339 L186.052286,14.7581339 Z M66.6741062,175.777995 C60.7742818,182.871501 56.6995658,181.512277 55.3598522,181.065903 C46.6292471,178.153533 36.499806,159.702023 27.568776,130.441755 C19.8408868,105.123769 15.3245266,79.6650716 14.9674273,72.5260416 C13.8387806,49.9483788 19.3117413,34.2129515 31.2349561,25.7572656 C50.6389284,11.9965266 82.5413764,20.2328684 95.3602956,24.4104573 C95.1758337,24.591963 94.9842771,24.7622356 94.8015889,24.9466975 C73.7664296,46.1911501 74.2654226,82.4875751 74.3168591,84.7058476 C74.3150855,85.56194 74.3866236,86.7739492 74.485358,88.4412009 C74.8471871,94.5455889 75.5205912,105.907732 73.7214965,118.775132 C72.0489238,130.732046 75.7346143,142.435326 83.8320185,150.883917 C84.6703741,151.758337 85.5453857,152.579547 86.4493672,153.352277 C82.8446744,157.212379 75.0115473,165.74788 66.6741062,175.777995 L66.6741062,175.777995 Z M89.1530346,145.78461 C82.6265127,138.975483 79.6627067,129.503483 81.020157,119.795584 C82.920351,106.202753 82.2185681,94.3646744 81.8419584,88.0048776 C81.7893395,87.1150855 81.7426328,86.335261 81.7148453,85.7197968 C84.7880277,82.9954365 99.0288406,75.3645081 109.184296,77.6915658 C113.819492,78.7534042 116.642587,81.9087667 117.816758,87.3373857 C123.893358,115.440037 118.621413,127.153367 114.385293,136.565654 C113.512055,138.504868 112.687298,140.337663 111.982559,142.234309 L111.436859,143.699954 C110.054577,147.406337 108.768665,150.851991 107.971695,154.124416 C101.034273,154.103132 94.2848591,151.139917 89.1530346,145.78461 L89.1530346,145.78461 Z M90.2178291,183.685025 C88.1922956,183.178938 86.3701432,182.299788 85.3012102,181.570808 C86.1939584,181.150448 87.7831686,180.579326 90.5388637,180.011751 C103.876286,177.265515 105.93552,175.328074 110.433552,169.61685 C111.465238,168.30788 112.634088,166.823316 114.252859,165.015353 C114.25345,165.014171 114.254042,165.01358 114.254633,165.012988 C116.666236,162.31346 117.768868,162.771067 119.768979,163.600554 C121.390115,164.271594 122.968684,166.303039 123.608979,168.539048 C123.911686,169.594975 124.252231,171.599815 123.138956,173.158873 C113.742633,186.31479 100.051067,186.1457 90.2178291,183.685025 L90.2178291,183.685025 Z M160.016554,248.637487 C143.700545,252.133395 137.923695,243.80837 134.116804,234.291436 C131.659677,228.146845 130.452397,200.440314 131.309081,169.84388 C131.320314,169.436527 131.262374,169.043363 131.150042,168.673848 C131.05249,167.96024 130.902319,167.238356 130.694208,166.511741 C129.419529,162.059824 126.315012,158.335704 122.5903,156.792018 C121.110467,156.178919 118.393792,155.05382 115.129644,155.888628 C115.826106,153.0206 117.033386,149.782467 118.341764,146.275326 L118.891012,144.79963 C119.509432,143.136517 120.284527,141.413691 121.105145,139.590356 C125.538143,129.741746 131.609423,116.25297 125.020231,85.7795104 C122.551871,74.3659307 114.310208,68.7924619 101.815871,70.0866513 C94.3250624,70.861746 87.472776,73.8840831 84.0549099,75.6169607 C83.3200185,75.9894319 82.6477968,76.3488961 82.0199169,76.6994919 C82.9735612,65.1990023 86.578254,43.707418 100.060527,30.1098568 C108.54873,21.548933 119.854115,17.3210901 133.628453,17.5487113 C160.768591,17.9933118 178.172453,31.9213672 187.994457,43.5276859 C196.457829,53.5294226 201.040998,63.6038799 202.870245,69.0372286 C189.115418,67.6389838 179.76048,70.3544758 175.017681,77.1340416 C164.700822,91.8815335 180.662097,120.506236 188.333229,134.262836 C189.739751,136.784406 190.954125,138.963067 191.336055,139.888924 C193.833977,145.943058 197.067972,149.984665 199.429321,152.935464 C200.152979,153.839446 200.855353,154.716231 201.389229,155.481866 C197.223464,156.683233 189.740342,159.457848 190.422023,173.328554 C189.872185,180.289035 185.960647,212.874938 183.974134,224.387843 C181.351464,239.597672 175.754346,245.263372 160.016554,248.637487 L160.016554,248.637487 Z M228.120831,170.700564 C223.861062,172.678208 216.732083,174.161589 209.959612,174.479667 C202.479446,174.830263 198.671963,173.641903 197.776259,172.91115 C197.355307,164.267455 200.573339,163.364065 203.978199,162.408055 C204.513256,162.257293 205.035307,162.111261 205.53903,161.935076 C205.852379,162.189894 206.195289,162.442938 206.570716,162.690661 C212.582873,166.658956 223.306494,167.087002 238.444785,163.962383 C238.50036,163.950559 238.555935,163.939917 238.610919,163.928684 C236.569423,165.837746 233.075289,168.400111 228.120831,170.700564 L228.120831,170.700564 Z"
                                fill="#FFFFFF"
                            >
                            </path>
                        </g>
                    </g></svg
                >
            </div>
        </div>
    </div>

</div>
<style>
    @keyframes spin {
        0% {
            transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(360deg);
        }
    }

    .spin {
        animation: spin 5s linear infinite;
    }

    .text-neon {
        text-shadow: 0 0 20px rgba(0, 255, 195, 0.8);
    }
    .text-neon-yellow {
        text-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    }

    .border-neon {
        box-shadow:
            0 0 20px 0 rgba(0, 255, 195) inset,
            0 0 20px 0 rgba(0, 255, 195); /* Amarillo */
    }
    .border-neon-yellow {
        border: 2px solid #ff0;
        box-shadow:
            0 0 20px 0 rgba(255, 255, 0) inset,
            0 0 20px 0 rgba(255, 255, 0); /* Amarillo */
    }
</style>
